/* Header Styling */
h1 {
	text-align: center;
	line-height: 1.1;
	font-weight: normal;
	color: #fff;
	text-shadow:2px 2px 10px #000;
	background: linear-gradient(73deg, rgb(0,0,0),rgb(255,255,255));
	margin: 0;
	text-transform: uppercase;
	padding: 10px 0;
}

#colorDisplay {
	font-size: 100%;
	display:block;
}
